.header{
    margin-top: 25px;
    background-color: $background-color;
    display: flex;
    justify-content: space-evenly;

    .logo{
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__image{
            margin: auto 0 auto 0;
            width: 15em;
        }

        &__title{
            margin: auto 0 auto 0;
            font-family: $font-title;
            font-size: 70px;
            text-transform: uppercase;
        }

        &__menu{
            margin: auto 0 auto 0;
            font-size: 35px;

            &__list{
                display: flex;
                justify-content: space-between;

                &__item{
                    margin-left: 25px;

                    &__link{
                        text-decoration: none;
                        color: $main-text-color;
                    }

                    &__link:hover{
                        color: $hover-color;
                    }
                }
            }
        }
    }
}