.header{
    margin-top: 25px;
    margin-bottom: 6rem;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .logo{
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__image1{
            margin: auto 0 auto 0;
            width: 20em;
            transform: rotateY(180deg);
            filter: invert(55%) sepia(88%) saturate(281%) hue-rotate(4deg) brightness(89%) contrast(85%);
        }

        &__image2{
            margin: auto 0 auto 0;
            width: 20em;
            filter: invert(55%) sepia(88%) saturate(281%) hue-rotate(4deg) brightness(89%) contrast(85%);
        }

        &__title{
            margin: auto 0 auto 0;
            font-family: $font-title;
            font-size: 6.5rem;
            // text-transform: uppercase;
        }

        &__menu{
            margin: auto;
            font-size: 35px;

            &__list{
                display: flex;
                justify-content: center;

                &__item{
                    padding: 15px;

                    &__link{
                        text-decoration: none;
                        color: $main-text-color;
                        font-family: $font-main;
                    }

                    &__link:hover{
                        color: $hover-color;
                    }
                }
            }
        }
    }
}