@font-face{
    font-family: "Fondamento-Regular";
    src: url("/fonts/Fondamento-Regular.ttf");
}

@font-face{
    font-family: "Fondamento-Italic";
    src: url("/fonts/Fondamento-Italic.ttf");
}

@font-face{
    font-family: "Josefin-Regular";
    src: url("/fonts/JosefinSans-Regular.ttf");
}

@font-face{
    font-family: "Josefin-Bold";
    src: url("/fonts/JosefinSans-Bold.ttf");
}

@font-face{
    font-family: "Josefin-MediumItalic";
    src: url("/fonts/JosefinSans-MediumItalic.ttf");
}

@font-face{
    font-family: "Josefin-Medium";
    src: url("/fonts/JosefinSans-Medium.ttf");
}

@font-face{
    font-family: "Tangerine-Regular";
    src: url("/fonts/Tangerine-Regular.ttf");
}

@font-face{
    font-family: "Tangerine-Bold";
    src: url("/fonts/Tangerine-Bold.ttf");
}

@font-face{
    font-family: "Germinabunt";
    src: url("/fonts/germinabunt-regular.ttf");
}

@font-face{
    font-family: "Hatolie";
    src: url("/fonts/Hatolie.ttf");
}

@font-face{
    font-family: "Sherlock";
    src: url("/fonts/Sherlock.ttf");
}