@font-face{
    font-family: "Crimson-Text";
    src: url("~/fonts/CrimsonText-Regular.ttf");
}

@font-face{
    font-family: "Crimson-Text-Bold";
    src: url("~/fonts/CrimsonText-Bold.ttf");
}

@font-face{
    font-family: "Crimson-Text-Italic";
    src: url("~/fonts/CrimsonText-Italic.ttf");
}

@font-face{
    font-family: "Crimson-Text-Semi-Bold";
    src: url("~/fonts/CrimsonText-SemiBold.ttf");
}