// Colors
$background-color: $black;
$main-text-color: $sand;
$hover-color: $light-sand;
$background-main: $black;
$header-font-color: $sand;

// Fonts
$font-title: "Fondamento-Regular";
$font-main: "Fondamento-Regular";
$font-footer: "Josefin-Medium";