// Colors
$background-color: $white;
$main-text-color: $black;
$hover-color: $sand;
$background-main: $black;
$header-font-color: $sand;

// Fonts
$font-title: "Crimson-Text-Bold";
$font-main: "Crimson-Text"